/* FILENAME: desktop.css
** AUTHOR:   Peter Cougan
**
** this file provides all desktop specific styling
*/

/* DESKTOP VIEW FORMATTING */
html,
html body
{
    height:100vh;
}

html .container
{
    width:85%;
}

html #land
{
    height:100vh;
}

html #contact
{
    height:55vh;
}

/* GRID */
html .col-half
{
    width:45%;
    display:inline-block;
}

html .col-third
{
    width:32%;
    display:inline-block;
}

/* ELEMENTS ONLY FOR MOBILE */
html .mobile-only
{
    display:none;
}

html hr.mobile-only
{
    margin:0;
    padding:0;
    width:0;
    height:0;
}

html #land
{
    background-size:cover;
}

html #land h1
{
    font-size:96px;
}

html #land p
{
    font-size:18px;
}

html #land img#land-img
{
    height:300px;
    border-radius:150px;
}

html .hide-on-mobile
{
    display:block;
}

html .hide-on-desktop
{
    display:none;
}

html h1
{
    font-size:72px;
}

html h2
{
    font-size:42px;
}

html h3
{
    font-size:36px;
}

html h4
{
    font-size:24px;
}

html table
{
    width:100%;
}

html table td
{
    overflow: scroll;
    text-overflow: ellipsis;
}