/* FILENAME: mobile.css
** AUTHOR:   Peter Cougan
**
** this file provides all mobile specific styling
*/

/* MOBILE VIEW FORMATTING*/
html.mobile,
html.mobile body
{
    height:100%;
    max-width: 100vw;
}

html.mobile .container
{
    width:97.5%;
}

html.mobile .img-overlay
{
    background-color: transparent;
    position:absolute;
    height:100vh;
    width:100vw;
}

html.mobile footer
{
    display: none;
}

/* GRID */
html.mobile .col-half,
html.mobile .col-third
{
    width:100%;
    display:block;
}

/* LISTS */
html.mobile ul
{
    padding-left:0;
    font-size: 12px;
}

/* ELEMENTS ONLY FOR MOBILE */
html.mobile .mobile-only
{
    display:block;
}

html.mobile #land
{
    background:#181818;
    height:40vh;
}

html.mobile #land h1
{
    font-size:48px;
}

html.mobile #land p
{
    font-size:12px;
}

html.mobile #land img#land-img
{
    height:100px;
    border-radius:50px;
}

html.mobile #links
{
    margin-top:-10px;
    border-top:none;
}

html.mobile .hide-on-mobile
{
    display:none;
}

html.mobile .hide-on-desktop
{
    display:block;
}


html.mobile h1
{
    font-size:42px;
}

html.mobile h2
{
    font-size:30px;
}

html.mobile h3
{
    font-size:24px;
}

html.mobile h4
{
    font-size:20px;
}

html.mobile table
{
    position:relative;
    width:100vw;
    margin-left:0;
}

html.mobile table td
{
    overflow: scroll;
    text-overflow: ellipsis;
}
