body {
    background:url("/img/adk.JPG")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#101010;
    color:#ccc;
}

@media (max-width: 576px) {
    body {
        background-size:200% 100%;
    }
}


/*-----------------------------------------*
 *          HEADER // NAV // FOOTER        *
 *-----------------------------------------*/
.masthead {
    position: static;
    width:100vw;
    top:-1rem;
    background-color:rgba(0,0,0,0.25);
}

@media (max-width: 576px) {
    .masthead {
        text-align:center;
    }
}

.masthead .inner {
    padding-top:1rem;
    padding-bottom:1rem;
}

.masthead-brand {
    padding-bottom:0.125rem;
}

@media (min-width: 576px) {
    .masthead {
        position:fixed;
        padding:0 2rem 0.7rem;
        text-align:center;
    }
    .masthead .inner {
        padding-top:1.875rem;
        padding-bottom:1.875rem;
    }
}

#tabs {
    display:inherit;
}

.masthead .dropdown-menu {
    text-shadow: none;
}

@media (max-width: 768px) {
    .masthead .masthead-brand {
        font-size:1.5rem;
        float: left;
        padding-left:2rem;
    }
    
    .masthead #tabs {
        float:right;
    }
    
    nav, #tabs, .masthead-brand, #tabs .dropdown {
         margin:0 auto;
         display:inline;
    }
    
    #tabs .dropdown-menu {
        left:-4rem;
    }
    
    #tabs .dropdown .btn {
        padding:.25rem .5rem;
        font-size:0.875rem;
    }
}



footer {
    position: absolute;
    bottom:0;
    padding-top:10rem;
    margin:0 auto;
    text-align: center;
}

footer .inner {
    padding-bottom:4px;
    text-align:center;
}

/*-----------------------------------------*
 *            LANDING CONTENT              *
 *-----------------------------------------*/
#landing-content {
    text-align: center;
    margin:0 auto;
}

@media (max-width: 576px) {
    #landing-content {
        padding-top:0rem;
    }
}

@media (min-width: 576px) {
    #landing-content {
        padding-top:7rem;
    }
}

@media (max-width: 768px) {
    #head-shot {
        height:6rem;
    }
}

#head-shot {
    height:10rem;
}

@media (min-width: 576px) {
    #head-shot {
        height:20rem;
    }
}

/*-----------------------------------------*
 *               MODAL                 *
 *-----------------------------------------*/
@media (min-width: 576px) {
    .modal-dialog {
        max-width:500px;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width:700px;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width:900px;
    }
    
    #transcriptRequest .modal-dialog {
        max-width:700px;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width:1000px;
    }
    
    #transcriptRequest.modal-dialog {
        max-width:800px;
    }
}

.modal-header {
    border-bottom:solid 3px #222;
}

.display-3 {
    font-size:3.0rem;
}

.modal-footer {
    border-top:none;
}

.modal-content {
    background-color:#101010;
    text-align: left;
    overflow:scroll;
}

.modal .table {
    overflow-y:scroll;
}

.close {
    color:#fff;
    text-shadow:0 1px 0 #222;
}

.modal .table {
    position: relative;
    max-width:100%;
    left:0;
    transition:none;
    background-color:#101010;
}

.modal .item {
        overflow:scroll;
}

.modal .table thead {
    background-color:rgba(255,255,255,0.05);
}

.modal .table tr:nth-child(even) { 
    background-color:rgba(255,255,255,0.05);
}

.modal .table tr:nth-child(odd) { 
    background-color:rgba(255,255,255,0.02);
}

/*-----------------------------------------*
 *            MISC MAINTENANCE             *
 *-----------------------------------------*/
.background-overlay-dark {
    background-color: rgba(0,0,0,0.65);
    width:100%;
}

.page-break-sm {
    margin:5rem 0;
}

.page-break-md {
    margin:15rem 0;
}

.page-break-lg {
    margin:25rem 0;
}

.page-heading {
    text-align: center;
}

.section-heading {
    margin-top:3rem;
}

.cover-container {
    width:100%;
    margin:0 auto;
}

.table-wrap {
    word-wrap:break-word;
}

@media(max-width:768px) {
    table .brk-768 {
        display:none;
    }
}

.input-group-text {
    text-shadow: none;
}